
<div id="profile-container">

       

    <div id="scheduleButtons">
       
         <button onclick="scheduleReminder('exercise')">Schedule Exercise</button>
         <button onclick="scheduleReminder('breakfast')">Schedule Breakfast</button>
         <button onclick="scheduleReminder('lunch')">Schedule Lunch</button>
         <button onclick="scheduleReminder('dinner')">Schedule Dinner</button>
         <button onclick="scheduleReminder('meditation')">Schedule Meditation</button>

    </div>

</div>